
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #333;
    color: #ccc;
    font-family: fira sans,sans-serif;
    font-size: 20px;
    line-height: 1.75rem;
    scroll-behavior: smooth;
    scrollbar-color: gray #000;
    scrollbar-width: thin;
}
.logo {
    display: inline-block;
    width: 240px;
    height: 92px;
    background:url(./img/GarchaLinuxArgentina.png);
    background-image: url(./img/GarchaLinuxArgentina.png);
    display:block;
    color:#fff;
    text-decoration:none;
    background-color:rgba(0,0,0,0);
    border:none;
    padding:2vh .5vw;
    color:rgba(180,180,180,.8);
    font-size:1rem;
    border-bottom:.2px solid rgba(180,180,180,.25);
}

.navbar {
    position: sticky;
    position: -webkit-sticky;
    padding: 1.25rem;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,.75);
    height: 10vh;
    min-height: 92px;
    align-items: center;
    border-bottom: 2px solid #1baaff;
    z-index: 10;
    width: 100%;
    background: rgba(1, 255, 235, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
}

.navbtn {
    color: rgba(180,180,180,.8);
    text-decoration: none;
    border: none;
    padding: 0 0.75vw;
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
    height: 7vh;
    transition: color 1s ease-out;
    user-select: none;
    padding-top: 7%;
}
.footer-container {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1.5rem 9rem 1.5rem 9rem; 
    border-top: 2px solid rgba(100,100,100,0.5);
    text-align: left;
    padding-bottom: 3rem;
}
.contact {
    padding-top: 2rem;
}
a:link {
    color: #69f;
}
